html{
  padding: 20px;
}
body {
background-color: black;
}

table {
    border-collapse: collapse;
    border: 1px solid gray;
    border-radius: 10px;
    width: 40%;
    color: white;
    text-align: left;
    margin: auto;
    margin-top: 50px;
}
td, th {
  border: 1px solid gray;
  padding: 10px;
}

.arrow {
  height: 15px;
  margin-left: 5px;
  margin-bottom: -3px;
}
.graytxt {
  color: gray;
}

.search {
  background-color: gray;
  border-radius: 5px;
  border: solid gray 1px;
  text-align: right;
  right: 5px;
}
